<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="form-group">
    <label for="name">Member Name</label>
    <input type="text" id="name" name="name" class="form-control" ngModel>
  </div>
  <div class="form-group">
    <label for="side">Password</label>
    <input type="text" id="password" name="password" class="form-control" ngModel>
  </div>
  <button class="btn btn-primary" type="submit">Confirm Registration</button>
</form>
<form (ngSubmit)="getUsers()">
<button class="btn btn-primary" type="submit">List Current Members</button>
<div *ngFor="let u of users"
[user]="u"></div>
</form>
